<footer id="footer">
	<div class="container">
		<div class="row text-center">
		<p>&copy; New Vision Ministries. All Rights Reserved.</p>
		</div>
	</div>
</footer>
<script src="{{ "assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/jquery.easing.min.js"  | relative_url }}"></script>
<script src="{{ "assets/js/bootstrap.min.js"  | relative_url }}"></script>
<script src="{{ "assets/js/wow.js"  | relative_url }}"></script>
<script src="{{ "assets/js/jquery.bxslider.min.js"  | relative_url }}"></script>
<script src="{{ "assets/js/custom.js"  | relative_url }}"></script>