<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

<body>
  <div class="loader"></div>
    <!--HEADER-->
    <div class="header">
      <div class="bg-color">

            {% include header.html %}

        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn">
                <h1 class="bnr-title">We have a dream for</h1>
                <h2 class="bnr-sub-title">NO CHILD IN INDIA TO GO UNSEEN</h2>
                <p class="bnr-para">We are committed to loving the one in front of us and believing that Jesus will multiply anything that is placed in our hands. We believe for the impossible; to truly defeat hunger and lack of child care in India by going to battle each and every day through intercession and joyfully putting our feet to action. We establish, support, and organize feeding centers, orphanages, and general care for children in need.</p>
                <div class="brn-btn">
                  <a href="/about.html" class="btn btn-download">Become a partner</a>
                  <a href="#service" class="btn btn-more scrolly">Learn More</a>
                </div>
                <div class="overlay-detail">
                  <a href="#service"><i class="fa fa-angle-down"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ HEADER-->
    <!---->
    
    <!---->
    <section id="service" class="section-padding wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">What Do We Do?</h2>
            <p class="sub-title pad-bt15">Our children's ministry provides pastoral care, basic human needs (food, shelter), and education to children in need. The problems that children face in India are very systematic and it's so easy for organizations to become distracted. We stay focused and effective by committing to living out our core values of being:</p>
            <hr class="bottom-line">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>C</span>hild Focused</h3>
              <p>Studies have shown that India is home to an estimated 20 million orphans. We believe that by "caring for the one in front of us", we are changing the direction of the entire country by raising up a generation that can make a difference.</p>
              <a href="/about.html">learn more...</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>A</span>ction Driven</h3>
              <p>While we are a forward-focused ministry with goals of solving problems at their root, we are commited to meeting the immediate needs of children. We refuse to become so focused on the larger problem that we become blind to the individual.</p>
              <a href="/about.html">learn more...</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>R</span>ecklessly Loving</h3>
              <p>Our team carries the love of Father God and brings it to every child they meet. We know that the every interaction is an opportunity for each child to encounter the fullness of our God. We are committed to representing the LOVE of God by becoming love.</p>
              <a href="/about.html">learn more...</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>E</span>xcuse Free</h3>
              <p>We simply refuse to have excuses for not being able to do what we know that we're called to do. God said to love and provide and our team doesn't stop until they've done exactly that.</p>
              <a href="/about.html">Learn more...</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---->
    <section id="blog" class="section-padding wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">Latest updates from the team</h2>
            <p class="sub-title pad-bt15">Read some of the updates and news from our team that is on the ground in India and doing the work!</p>
            <hr class="bottom-line">
          </div>
          {% include tiles.html %}
        </div>
      </div>
    </section>
    <section id="portfolio" class="section-padding wow fadeInUp">
      <div class="container">
        <div class="row">
          {% assign image_files = site.static_files | where: "image", true %}
          {% for myimage in image_files limit:4 %}
            <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                <a href="{{ myimage.path | relative_url }}"><img src="{{ myimage.path | relative_url }}" class="img-responsive"></a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% include footer.html %}
</body>
</html>